.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Esto centra verticalmente si deseas que ocupe toda la altura de la ventana */
}
