<hr>
<div class="contenedor">
  <h5>Dicen que las flores amarillas son para prometer amor eterno, entonces recordé que quiero estar siempre contigo.</h5>
  <h5>Esta flor es un pequeño reflejo de la belleza que traes a mi mundo cada día (talvez ahorita no puedo darte todo lo que
    te mereces, incluso te mereces el mundo entero). Eres mi inspiración, mi apoyo y mi razón de sonreír. Que esta flor te recuerde lo especial
    que eres para mí y cuánto te amo. Gracias por ser la luz en mi vida. Te amo Brend<span class="corazon">&#10084;</span>.</h5>
</div>
